body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background: skyblue;
}

section {
    padding: 1rem;
    background-color: beige;
}